.reveal .controls {
  opacity: 0.1;
}

.reveal ul {
  display: block;
}

.reveal .slide h3 {
  text-align: left;
}

.reveal pre code {
  max-height: none;
}

.reveal .description {
  color: #FFF;
  font-weight: 400;
  text-transform: none;
}

.reveal h1 {
  max-width: 70%;
  font-size: 60px;
  background: #75aadb;
  color: #000;
  display: inline-block;
  padding: 0 30px 20px 30px;
  border-radius: 3px;
  margin: 40px 0 20px 0;
}

.reveal h1.subtitle {
  font-size: 60px;
  color: #FFF;
  font-weight: 400;
  padding-left: 30px;
  background: none;
}

.reveal h2 {
  max-width: 70%;
  margin: 40px auto 20px auto;
  background: #75aadb;
  border-radius: 3px;
  padding-bottom: 10px;
}

.title-slide p {
  font-size: 30px !important;
  font-weight: bold !important;
  padding-left: 30px;
}

.reveal .highlighted {
  color: #FFF;
  font-weight: bold;
}

.reveal strong {
  background-color: #e0ff00;
}

.reveal .slides section img {
  border: none;
  border-radius: 5px;
}

.reveal code.sourceCode {
  padding: 14px 0px 14px 16px;
}

.reveal .sourceCode.r,
.reveal .sourceCode.python,
.reveal .sourceCode.scala {
  margin-top: 0px;
  margin-bottom: 2px;
  border-left: solid 10px #3f6384;
  background-color: #fbfbff;
}

.reveal img {
  border: solid 1px #999;
}

.reveal .author {
  background: none;
}

.reveal h2.author,
.reveal h3.date {

}

.slide-background {
}

.reveal ul,
.reveal p {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.slide-background.slide,
.slide-background.stack {
}

.reveal .slides {
  font-size: 0.90em;
}
